PORT=3000
APP_SECRET=
ML_CLIENT_ID=
ML_CLIENT_SECRET=
ML_REDIRECT_URI=https://SEU-APP.onrender.com/auth/mercadolivre/callback
SHOPIFY_STORE_DOMAIN=hkqn1g-tx.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=
MP_FEE_RATE=0.05
COUPON_RATE=0.10
MAX_PROFIT_BRL=15
SAFETY_BUFFER_BRL=3
